*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    background-color: rgb(248, 243, 253);
   height: 100em;
    width: 92em;
    flex-direction: column;
}
.page{
    background:rgb(255, 255, 255);
    color: rgb(41, 39, 39);
    margin: 0 5vw;
    padding: 10px 20px ;
    min-height: calc(100vh - 43px - 5vh);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.page img{
    display: flex;
    flex-direction: column;
    width:85vw;
    border: none;
    border-radius: 2px;
}
.tutorials{
    display: flex;
    flex-direction:row;

    width:76vw;
    /* height: 120px; */
    border: none;
    border-radius: 2px;
    padding: 20px;
}
.tutorials img{
    width: 250px;
    height: 150px;
    border: none;
    border-radius: 3px;
}
.image .my1{
    width: 250px;
    height: 150px;
}
.image.my2{
width: 350px;
/* height: 150px; */
}
.tutorials p{
    padding: 20px;
}
hr{
    height: 0.5px;
    margin:2px 0;
    background-color:  rgb(97, 87, 103);
}
.tutorials p a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color:whitesmoke;
}
b{
    color: black;
}