@media screen and (max-width: 1310px){
    .navbar{
        flex-wrap: wrap;
        flex-direction: row;
       
    }
    div .search {
        display: flex;
        flex-direction:row;
        align-items: center;
       margin:none;
    }
    .search input {
        margin: 0 13px 0 10px;
    }
}
@media screen and (max-width: 1210px){
    .navbar{
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    nav ul{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    /* .search input {
        margin: 0 13px 0 10px;
    } */
}