*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
.card{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5rem;
    background-color: rgb(253, 251, 251);
    background-image:url(images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card{
    display: block;
    background: #aa92b4;
    text-align: center;
    padding: 60px 90px;
    color: #171717;
    position: relative;
    border-radius: 10%;
    box-shadow: 0 5px 10px rgba(167, 64, 240, 0.5);
}
.menu-icon{
    display: flex;
    flex-direction: column;
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px; ;
}
.setting-icon{
    width: 25px;
    position: absolute;
   right: 40px;
    top: 40px; ;
}
.sub-menu-wrap{
position: absolute;
top: 100%;
right: 10%;
width: 320px;
max-height: 0px;
overflow: hidden;
transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sun-menu{
    background: rgb(135, 133, 133);
    margin-top: 10px;
    padding: 20px;
}
.sub-menu-link{
    border-radius: 20%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #171717;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link:hover{
    color: darkgray;
    font-weight: 300;
}
.profile-pic{
    width: 150px;
   border-radius: 50%;
   background: #fff;
   padding: 6px;
   margin: 15px;
   box-shadow: 0 5px 10px rgba(23, 22, 23, 0.5);
}
input{
    display: block;
   box-sizing: border-box;
   background: none;
   color: #171717;
   margin: 0 3em 2em 4em;
   padding: 4px;
   width: 220px;
   height: 32px;
   border: none;
   border-bottom: 1px solid #171717;
   font-weight: 400;
   transition: 0.2s ease;
   font-size: large;
}
input:focus{
  border-bottom: 2px solid #171717;
  border-bottom-right-radius: 20px;
  color: #171717;
  transition: 0.2s ease;
}
.profile-card button{
    background: #f0eef1;
    color: black;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(23, 22, 23, 0.5);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}
.profile-card button:hover{
    background: darkgray;
    transition: 0.2s ease-in-out;
}
.profile-card h3{
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;
}
.social-media img {
    width: 20px;
    margin: 30px 5px;
    cursor: pointer;
}
