*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    background: rgb(255, 254, 254);
    min-height: calc(100vh - 43px - 5vh);
}
.containersm{
    display: flex;
    flex-direction:column;
    margin:0 10vw;
    min-height: calc(100vh - 43px - 5vh);
}
.my-row{
    display: flex;
    flex-direction:row;
    column-gap: 20px;
  color: rgb(99, 99, 99)e;
}
.my-row img{
    display: inline;
    width: 250px;
    height: 150px;
}
.my-row p{
    padding: 10px 0;
    font-size: large;
}
hr{
    margin: 5px 0;
    height: 1px;
    background: rgb(248, 243, 253);
}
.my-row p a{
    text-decoration: none;
    color:  rgb(71, 88, 88);
    font-weight: bold;
}
.my-row p a:hover{
       color: black;
       
}