*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: rgb(226, 226, 226);
    background-size: cover;
    background-position: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

 .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
 }
.containerLogin{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 5px;
}
span{
    color: #fff;
 font-size: large;
    display: flex;
    justify-content: center;
    padding:10px 0 10px 0;
}
header{
    color: #3d726b;
    font-size: 60px;
    display: flex;
    justify-content: center;
    padding: 10px 0 5px 0;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span a:hover{
   color: black;
}
.input-feild{
    display: flex;
    flex-direction:column;
    padding: 12px 0;
    /* margin: 0 30vw 0 0; */
}
.input{
    height: 60px;
    width: 37vw;
    border: none;
    outline: none;
    font-size: large;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 45px;
    background: rgba(40, 82, 84, 0.3);
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 30px;
    height: 60px;
    outline: none;
    width: 40vw;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.input:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bottom{
    display: flex;
    flex-direction: row;
    column-gap: 300px;
 
    font-size: large;
    color: #214641;
    margin: 10px;
}
.left{
    display: flex;
}
.right label a:hover{
    color: rgb(50, 48, 48);
}
.left label a:hover{
    color: rgb(50, 48, 48);
}
label a{
    color: #23554e;
    text-decoration: none;
}  

form .error-msg{
    margin: 10px 0;
    display: block;
    color: #e02e2e;
    border-radius: 5px;
    font-size: 20px;
}