:root {
  --main-bg-color: rgb(114, 113, 113)
  ;
  --font1: 'Baloo Bhaina2', cursive;
  --font2: 'Roboto', sans-serif;

}

.flex-all-center {

  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: large;
}
